* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    font-family: Helvetica, Arial, sans-serif;
    color: #303036;
    max-width: 1200px;
    background-color: #dddddd;
    /*margin:0 auto;*/
}

header {
    background-color: #303036;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header a {
    text-decoration: none;
    color: #303036;
}

header h1 {
    background-color: #acb1b1;
    margin: 10px 10px 10px 0;
    font-size: 48px;
    padding: 0 10px 0 50px;
}

/*
header nav {
    margin-right: 40px;
}
*/

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

header nav ul li {
    padding: 25px 10px;
}

header nav a {
    color: #acb1b1;
    border-bottom: #acb1b1 solid 3px;
    padding: 5px 10px;
}

main {
    background-color: #acb1b1;
}

.subtitle-background {
    background-image: url("../images/background-header-technology.jpg");
    height: 175px;
}

.subtitle {
    background-color: #acb1b1;
    margin-left: 700px;
    margin-top: 100px;
    margin-right: 100px;
    font-size: 24px;
    position:relative;
    text-align: center;
}  

.section-header {
    border-right: 5px solid #4f5057;
    text-align: right;
    padding: 30px 30px; 
    min-width: 350px;
    font-size: 28px;
}

.about-me {
    padding: 10px;
    margin-right: 100px;
}

.about-me p {
    margin-left: 45px;
}

.featured-project {
    padding-left: 50px;
    width: 800px;
    height: 400px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 800px;
    margin-left: 25px;
}

.projects img{
    width: 400px;
    height: 300px;
    padding: 25px;
}

/*
.flex-row {
    display: flex;
    padding: 10px 15px;
}
*/

footer {
    display: flex;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
}


footer ul li {
    padding: 55px 50px;
}

footer a {
    color: #96c9cf;
    border-bottom: #96c9cf solid 3px;
    text-decoration: none;
    color: #303036;
}