* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    font-family: Helvetica, Arial, sans-serif;
    color: #303036;
    /*max-width: 1200px;*/
    background-color: #acb1b1;
    /*margin:0 auto;*/
}

header {
    background-color: #303036;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header a {
    text-decoration: none;
    color: #303036;
}

header h1 {
    background-color: #acb1b1;
    margin: 10px 10px 10px 0;
    font-size: 48px;
    padding: 0 10px 0 50px;
}

/*
header nav {
    margin-right: 40px;
}
*/

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

header nav ul li {
    padding: 25px 5px;
}

header nav a {
    color: #acb1b1;
    border-bottom: #acb1b1 solid 3px;
    padding: 5px 10px;
}
/*
main {
    background-color: #acb1b1;
}
*/

.subtitle-background {
    background-image: url("../images/background-header-technology.jpg");
    height: 175px;
    justify-content: right;
}

.subtitle {
    color: #acb1b1;
    font-size: 24px;
    text-align: center;
    justify-content: flex-end;
}  

.subtitle h2 {
    padding: 50px 40px 0 0;
}

.profile-pic {
    height: 150px;
    width: 150px;
}

.section-header {
    border-right: 5px solid #4f5057;
    text-align: right;
    padding: 30px 30px; 
    min-width: 350px;
    font-size: 28px;
}

.about-me {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.about-me p {
    margin-left: 45px;
}

.featured-project {
    padding-left: 50px;
    width: 800px;
    height: 400px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 800px;
    margin-left: 25px;
}

.projects img{
    width: 400px;
    height: 300px;
    padding: 25px;
}

.flex-row {
    display: flex;
    padding: 10px 15px;
}

footer {
    display: flex;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
}

footer ul li {
    padding: 55px 50px;
}

footer a {
    border-bottom: #303036 solid 3px;
    text-decoration: none;
    color: #303036;
}

@media screen and (max-width: 980px) {
  header h1 {
    font-size: 36px;
}

.section-header {
  border-right: 4px solid #4f5057;
  text-align: right;
  padding: 20px 20px; 
  min-width: 250px;
  font-size: 20px;
}

  .featured-project {
    padding-left: 50px;
    width: 600px;
    height: 300px;
}

  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 600px;
    margin-left: 25px;
}

  .projects img{
    width: 300px;
    height: 225px;
    padding: 25px;
  }

}


@media screen and (max-width: 768px) {
  header h1 {
    font-size: 36px;
}

.section-header {
  border-right: 4px solid #4f5057;
  text-align: right;
  padding: 20px 20px; 
  min-width: 200px;
  font-size: 20px;
}

  .featured-project {
    padding-left: 50px;
    width: 500px;
    height: 300px;
}

  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 500px;
    margin-left: 25px;
}

  .projects img{
    width: 200px;
    height: 125px;
    padding: 10px 5px 10px 0;
  }
}

@media screen and (max-width: 575px) {
  header h1 {
    font-size: 20px;
    padding-top: 13px;
}

  .section-header {
    border-right: 4px solid #4f5057;
    text-align: right;
    padding: 20px 20px; 
    min-width: 175px;
    font-size: 20px;
}

  .featured-project {
    padding-left: 50px;
    width: 375px;
    height: 173px;
}

  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 330px;
    margin-left: 50px;
}

  .projects img{
    width: 150px;
    height: 110px;
    padding: 10px 5px 10px 0;
    margin: 0 4px;
  }

  .footer ul li {
    padding-left: 50px;
}
}